#FXRates-container{
    min-width: 360px;
    min-height: 620px;
    background-color: #3F4A58;
    padding: 1px 1px;
    border-radius: 5px;

    #screen{
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0px 0px;
        font-size: 18px;
        font-weight: 500;

        .row{
            height: 40px;
            padding: 0 0;
            margin: 5px 0;
            color: white;

            .container{
                padding-top: 5px;
                padding-bottom: 5px;
                margin: 0 0;
            }

            img{
                height: 30px;
                width: 30px;
                border-radius: 50%;
                box-shadow: 2px 2px 6px 2px #272e36;
                border: 0.5px solid #272e36;
            }

            img, .currency-symbol, #graph:hover{
                cursor: pointer;
            }
        }
        
        .row:hover{
            background-color: #107896;
        }

        .amount{
            padding-top: 5px;
            padding-bottom: 10px;
            background-color: white;
            color: black;
            border-radius: 2px;
            height: 40px;

            p{
                padding-top: 0px;
                padding-bottom: 0px;
            }
        }
    }

    #keys{
        position: absolute;
        padding: 1px 1px;
        bottom: 5px;

        .container{
            padding: 0px 0px;
        }

        button{
            min-width: 85px;
            min-height: 90px;
            margin: 1px 1px;
            border-radius: 1px;
            background-color: #374352;
            font-size: 22px;
        }
        
        #clear{
            color: #ff6b3e;
        }
        
        #calculator{
            background-color: #4c5466;
            color: #ff6b3e;
        }
    }
}






