/**{
	border: 1px solid black;
}*/

.robot{

}

.head,
.left-arm,
.right-arm,
.torso,
.left-leg,
.right-leg{
	background-color: #33ff33;
}

.head{
	height: 150px;
	width: 200px;
	border-radius: 200px 200px 0 0;
	margin: 0 auto;
	position: relative;
	transition: all .1s ease;
}

.head:hover{
	transform: scaleX(1.2);
}

.left-eye, .right-eye{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: white;
}

.left-eye{
	position: absolute;
	top: 60px;
	left: 40px;
}

.right-eye{
	position: absolute;
	top: 60px;
	right: 40px;
}

.upperbody{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.left-arm, .right-arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
	margin: 0 10px;
	transition: all .1s linear;
}

.left-arm:hover{
	transform: rotate(20deg);
}

.right-arm:hover{
	transform: rotate(-20deg);
}

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
}

.lowerboddy{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.left-leg{
	width: 40px; 
	height: 80px;
	border-radius: 0 0 100px 100px; 
	margin-right: 20px;
	transition: all .1s ease;
}

.left-leg:hover{
	transform: rotate(30deg);
}

.right-leg{
	width: 40px; 
	height: 80px;
	border-radius: 0 0 100px 100px; 
	margin-left: 20px;
	transition: all .5s linear;
}

.right-leg:hover{
	transform: rotate(720deg);
}