.background-image{
    border: 1px solid red;
}

#page-wraper{
    background-color: #536070;
}

.background-image{
    background-image: url("public/images/BNC_profilepic.png");
    position: absolute;
    top: 0;
    width: 100%;
    height: 80%;
    /* z-index: -1; */
    opacity: 0.5;
    background-repeat: no-repeat;
}

.background-image img{
    width: 100%;
    height: 100;
}

header{
    justify-content: center;
    padding-top: 8rem;
    padding-bottom: 4rem;
}

header h1{
    font-size: 4rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

header p{
    margin-top: 30px;
    margin-bottom: 12.5px;
}

.card{
    margin: 30px auto;
    padding: 50px 50px;
}

img{
    width: 250px;
    height: 250px;
}

.project-card{
    margin: 20px auto;
}