#currency-selection-container{
    overflow-x: hidden;
    position: relative;
    height: 60vh;
    width: 100%;
    box-shadow: 5px 5px 10px 5px #8888;

    #currency-selection{
        position: absolute;
        z-index: 20;
        width: 110%;
        height: 95%;
        top: 0;
        left: 0;
        bottom: 0;
        right: -37px;
        background-color: #4c5969;
        overflow-y: scroll;
    
        #search-box{
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
        }
    
        button{
            padding-top: 0;
        }

        .row{
            margin: 20px 0;
            padding: 10px 10px;
        }
        .countries{
            margin: 0 0;
            padding: 0 15px;

            input:hover{
                cursor: pointer;
            }
    
            .currency-card{
                margin: 10px 0;
    
                img{
                    width: 40px;
                    height: 40px;
                    margin: 2px 2px;
                    border-radius: 50%;
                    // border: .5px solid #3F4A58;
                    box-shadow: 3px 3px 2px 3px #3F4A58;
                    transition: all .2s ease-in-out;
                }

                img:hover{
                    cursor: pointer;
                    box-shadow: 1px 1px 3px 1px #3F4A58;
                    transform: scale(1.2, 1.2);
                }
            }
        }
    }
}
