body{
  background-color: #030303 !important;
  background-size: contain;

  #landing-page-wraper{
    min-width: 360px;

    main{
      padding: 1rem 1rem;
      position: relative;

      .background-color-layer{
        background-image: url('./assets/img/background-img.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        z-index: -1;
        top: 0px;
        left: 0px;
        opacity: .8;
        width: 100%;
        height: 100vh;
        box-shadow: inset 0 -40px 60px 10px #030303;
      }
  
      header{
        height: 60vh;
        margin-bottom: 4rem;
  
        div h1{
          font-weight: 900;
          font-size: 4rem;
          color: white;
          margin-bottom: 2px;
        }
  
        #introduction{
          min-height: 4.5rem;
          font-weight: 900;
          font-size: 3rem;
          color: white;
          margin-bottom: 40px;
          padding-top: 10px;
        }
  
        .social-network a{
          margin-left: 20px;
          margin-right: 20px;
        }
      }
  
      .card{
        padding: 30px 30px;
        margin-top: 30px;
  
        .card-body{
          padding: 20px 30px;
        }
      }

      #about-me-card{
        font-weight: 400;

        img{
          width: 100%;
          border-radius: 50%;
          box-shadow: 5px 5px 15px 5px #888888;
        }

        #profile-desc{
           border-radius: 5px;
           padding: 30px 20px;
           box-shadow: 5px 5px 15px 5px #888888;
        }
      }

      #projects-card{

        .row{
          padding-top: 0px;
          padding-bottom: 30px;
        }
      }

      #works-card{
        padding: 40px 20px;
        .card{
          box-shadow: 5px 5px 15px 5px #888888;
          transition: all .2s ease-in-out;
        }
      }

      #contact-card{
        .btn{
          box-shadow: 5px 5px 15px 5px #888888;
        }
      }
    }
  }
  
  footer div{
    padding-top: 40px;
    padding-bottom: 30px;
    color: white;
    font-weight: bold;
  
    .social-network a{
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}