<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="CurrencySelection.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
</head>

<body>
    <div class="container col-md-4" id="currency-selection">
        <div class="input-group mb-3 col-9" id="search-box">
            <input type="text" class="form-control" placeholder="Currency" aria-label="search-box" aria-describedby="basic-addon1" autofocus>
        </div>
        <div class="container" id="currencies">
            <div class="row">
                <div class="container col-2">ICON</div>
                <div class="container col-9">
                    <p>USD</p>
                    <p>United States</p>
                </div>
            </div>
            <div class="row">
                <div class="container col-2">ICON</div>
                <div class="container col-9">
                    <p>GBP</p>
                    <p>United Kingdom</p>
                </div>
            </div>
            <div class="row">
                <div class="container col-2">ICON</div>
                <div class="container col-9">
                    <p>EUR</p>
                    <p>European Union</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>