#currency-selection{
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 5px;
    max-height: 50vh;
    overflow-x: auto;
}

#currency-selection #search-box{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#currency-selection #currencies .row{
    margin: 20px 0;
    padding: 10px 10px;
}