<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="FXculator.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	 crossorigin="anonymous">
</head>

<body>
	<div class="container col-sm-3" id="FXculator-container">
		<div class="container" id="screen">
			<div class="row">
				<div class="container col-2">Flag</div>
				<div class="container col-2">Currency</div>
				<div class="amount col-6 text-right" id="0">Amount</div>
				<div class="container col-2">Graph</div>
			</div>
			<div class="row">
				<div class="container col-2">Flag</div>
				<div class="container col-2">Currency</div>
				<div class="amount col-6 text-right" id="1">Amount</div>
				<div class="container col-2">Graph</div>
			</div>
			<div class="row">
				<div class="container col-2">Flag</div>
				<div class="container col-2">Currency</div>
				<div class="amount col-6 text-right" id="2">Amount</div>
				<div class="container col-2">Graph</div>
			</div>
			<div class="row">
				<div class="container col-2">Flag</div>
				<div class="container col-2">Currency</div>
				<div class="amount col-6 text-right" id="3">Amount</div>
				<div class="container col-2">Graph</div>
			</div>
		</div>
		<div class="container text-center mt-5" id="keys">
			<div class="row justify-content-center">
				<Button class="btn btn-dark" value="C" id="clear" onClick={this.props.onInput}>C</Button>
				<Button class="btn btn-dark" value="7" id="seven" onClick={this.props.onInput}>7</Button>
				<Button class="btn btn-dark" value="8" id="eight" onClick={this.props.onInput}>8</Button>
				<Button class="btn btn-dark" value="9" id="nine" onClick={this.props.onInput}>9</Button>
			</div>
			<div class="row justify-content-center">
				<Button class="btn btn-dark" value="calculator" id="calculator" onClick={this.props.onInput}>Cal</Button>
				<Button class="btn btn-dark" value="4" id="four" onClick={this.props.onInput}>4</Button>
				<Button class="btn btn-dark" value="5" id="five" onClick={this.props.onInput}>5</Button>
				<Button class="btn btn-dark" value="6" id="six" onClick={this.props.onInput}>6</Button>
			</div>
			<div class="row justify-content-center">
				<Button class="btn btn-dark" value="" id="" onClick={}></Button>
				<Button class="btn btn-dark" value="1" id="one" onClick={this.props.onInput}>1</Button>
				<Button class="btn btn-dark" value="2" id="two" onClick={this.props.onInput}>2</Button>
				<Button class="btn btn-dark" value="3" id="three" onClick={this.props.onInput}>3</Button>
			</div>
			<div class="row justify-content-center">
				<Button class="btn btn-dark" value="" id="" onClick={}></Button>
				<Button class="btn btn-dark" value="0" id="zero" onClick={this.props.onInput}>0</Button>
				<Button class="btn btn-dark" value="." id="decimal" onClick={this.props.onInput}>.</Button>
				<Button class="btn btn-dark" value="undo" id="undo" onClick={this.props.onInput}>Undo</Button>
			</div>
		</div>
	</div>
</body>

</html>