/* .card{
    border: 1px solid black;
} */

body{
    background-color: #413E3E !important;
    background-size: contain;
}

.background-color-layer{
    background-image: url('img-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    top: 0px;
    opacity: .15;
    width: 100%;
    height: 100vh;
    box-shadow: inset 0 -40px 60px 10px #413E3E;
}

main{
    padding: 1rem 1rem;
}

header{
    height: 40vh;
    padding-top: 7rem;
}

.card{
    padding: 30px 30px;
    margin-top: 30px;
}

footer div{
    padding-top: 40px;
    padding-bottom: 30px;
}