#quote-box{
  min-height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 30px 10px 30px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  background-color: black;

  #quote{
    min-height: 120px;
  }
}


