main{
    color: white;
    background-color: black;
}

/* Tomato Clock */


/* Quotes Box */
#quote-box{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    background-color: black;
}

#buttons{
    position: absolute;
    bottom: 2rem;
}

#tweet-quote{
    margin-right: 23rem;
}