#DevSpace-container{
    color: white;
    background-color: black;
    padding: 10px 10px;
    min-width: 360px;

    #youtube-container{
        border: 2px solid white;
        border-radius: 5px;
    }
}
